.restaurant {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 2rem;
}
.restaurantName {
  font-size: 2rem;
  padding: 1rem;
  background: var(--orange);
  color: white;
}
.tabs {
  display: inline-flex;
  padding: 1rem;
  gap:1rem;
}
.tabItem {
  border: 1px solid #ccc;
  border-radius: .3rem;
  padding: 0.5rem 2rem;
  transition: .3s;
  user-select: none;
  color:#333333;
  text-decoration: none;
}
.active {
  background: var(--orange-light);
  border: 1px solid var(--orange-dark);
}
