.restaurant {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 2rem;
  width: 70%;
}
.restaurantName {
  font-size: 2rem;
  padding: 1rem;
  background: var(--orange);
  color: white;
}
.menuWrap {
  padding: 2rem 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.reviewsWrap {
  padding: 0 1rem 1rem 1rem;
  max-width: 600px;
}
.reviewsTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.reviewForm {
  padding: 0 1rem 1rem 1rem;
  max-width: 400px;
}
