.btn {
  border: 1px solid #ccc;
  border-radius: .3rem;
  padding: 0.5rem 2rem;
  transition: .3s;
  user-select: none;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px #ccc;
  }
  &_orange {
    background: var(--orange-light);
    border: 1px solid var(--orange-dark);
  }
  &_dark {
    color: var(--orange-light);
    background: #333;
  }
  &_orange.btn_dark {
    background: var(--orange-dark);
    background: #000;
  }
}
